@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Base Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5e747f;
  color: #fff;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

i {
  padding-right: 7px;
}

.navbar h1:hover {
  color: #b6be9c;
  cursor: pointer;
}

.navbar a {
  color: #fff;
  padding: 10px 25px;
  margin: 0 5px;
}

.navbar a:hover {
  color: #b6be9c;
  border-bottom: #b6be9c 2px solid;
}

.navbar ul {
  display: flex;
}

img {
  width: 300px;
}
